# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [43]:
import numpy as np
step1 = data.groupby(['CustomerID','ProductName']).agg({'Quantity':np.sum})
step1

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [44]:
step2 = data.pivot_table(index=["ProductName"], columns=['CustomerID'] ,values=["Quantity"], aggfunc=np.sum).fillna(0)
step2

                                  Quantity                                \
CustomerID                           33    200   264   356   412   464
ProductName
Anchovy Paste - 56 G Tube              0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mini Egg Roll, Shrimp      0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mushroom Tart              0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Sausage Rolls              0.0   0.0   0.0   0.0   0.0   0.0
Apricots - Dried                       1.0   0.0   0.0   0.0   1.0   0.0
...                                    ...   ...   ...   ...   ...   ...
Yeast Dry - Fermipan                   0.0   0.0   0.0   0.0   0.0   0.0
Yoghurt Tubes                          0.0   0.0   0.0   0.0   0.0   0.0
Yogurt - Blueberry, 175 Gr             0.0   1.0   0.0   0.0   0.0   0.0
Yogurt - French Vanilla                1.0   0.0   0.0   1.0   0.0   0.0
Zucchini - Yellow                      0.0   0.0   0.0   0.0   0.0   0.0

                                                           ...              \
CustomerID                        477   639   649   669    ... 97697 97753
ProductName                                                ...
Anchovy Paste - 56 G Tube           0.0   1.0   0.0   0.0  ...   0.0  25.0
Appetizer - Mini Egg Roll, Shrimp   0.0   0.0   0.0   0.0  ...  25.0  25.0
Appetizer - Mushroom Tart           0.0   1.0   0.0   0.0  ...  25.0   0.0
Appetizer - Sausage Rolls           0.0   0.0   0.0   0.0  ...   0.0   0.0
Apricots - Dried                    0.0   0.0   0.0   0.0  ...   0.0  25.0
...                                 ...   ...   ...   ...  ...   ...   ...
Yeast Dry - Fermipan                0.0   0.0   0.0   0.0  ...   0.0   0.0
Yoghurt Tubes                       0.0   0.0   2.0   0.0  ...   0.0   0.0
Yogurt - Blueberry, 175 Gr          0.0   0.0   0.0   0.0  ...  25.0   0.0
Yogurt - French Vanilla             2.0   0.0   0.0   1.0  ...   0.0   0.0
Zucchini - Yellow                   0.0   0.0   0.0   0.0  ...   0.0   0.0

                                                                             \
CustomerID                        97769 97793 97900 97928 98069 98159 98185
ProductName
Anchovy Paste - 56 G Tube           0.0   0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mini Egg Roll, Shrimp   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mushroom Tart           0.0   0.0   0.0   0.0   0.0   0.0  25.0
Appetizer - Sausage Rolls           0.0   0.0  25.0  25.0  25.0   0.0  25.0
Apricots - Dried                    0.0   0.0   0.0   0.0   0.0   0.0   0.0
...                                 ...   ...   ...   ...   ...   ...   ...
Yeast Dry - Fermipan                0.0  25.0   0.0   0.0   0.0   0.0   0.0
Yoghurt Tubes                       0.0   0.0   0.0   0.0   0.0  25.0   0.0
Yogurt - Blueberry, 175 Gr          0.0  25.0   0.0   0.0   0.0   0.0   0.0
Yogurt - French Vanilla            25.0   0.0   0.0   0.0   0.0   0.0   0.0
Zucchini - Yellow                   0.0   0.0   0.0   0.0   0.0   0.0   0.0


CustomerID                        98200
ProductName
Anchovy Paste - 56 G Tube           0.0
Appetizer - Mini Egg Roll, Shrimp   0.0
Appetizer - Mushroom Tart           0.0
Appetizer - Sausage Rolls           0.0
Apricots - Dried                    0.0
...                                 ...
Yeast Dry - Fermipan                0.0
Yoghurt Tubes                       0.0
Yogurt - Blueberry, 175 Gr          0.0
Yogurt - French Vanilla            25.0
Zucchini - Yellow                   0.0

[452 rows x 1000 columns]

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [55]:
from scipy.spatial.distance import pdist, squareform
distancias=squareform(pdist(step2.T, 'euclidean'))
distancias

similitud=pd.DataFrame(1/(1+distancias), index=step2.columns, columns=step2.columns)
similitud

                     Quantity                                          \
CustomerID              33        200       264       356       412
         CustomerID
Quantity 33          1.000000  0.077421  0.087047  0.081800  0.080634
         200         0.077421  1.000000  0.078448  0.076435  0.073693
         264         0.087047  0.078448  1.000000  0.080070  0.081800
         356         0.081800  0.076435  0.080070  1.000000  0.076435
         412         0.080634  0.073693  0.081800  0.076435  1.000000
...                       ...       ...       ...       ...       ...
         97928       0.004515  0.004521  0.004543  0.004526  0.004530
         98069       0.004583  0.004614  0.004595  0.004578  0.004578
         98159       0.004355  0.004367  0.004365  0.004365  0.004367
         98185       0.004167  0.004166  0.004179  0.004175  0.004177
         98200       0.004333  0.004335  0.004333  0.004339  0.004349

                                                                       ...  \
CustomerID              464       477       639       649       669    ...
         CustomerID                                                    ...
Quantity 33          0.082709  0.074573  0.083020  0.081503  0.080070  ...
         200         0.075255  0.075956  0.076435  0.077674  0.076923  ...
         264         0.080350  0.076923  0.080634  0.082100  0.078448  ...
         356         0.078187  0.075025  0.082403  0.077171  0.075956  ...
         412         0.078711  0.075025  0.082403  0.078187  0.078448  ...
...                       ...       ...       ...       ...       ...  ...
         97928       0.004533  0.004534  0.004526  0.004528  0.004523  ...
         98069       0.004578  0.004589  0.004581  0.004585  0.004592  ...
         98159       0.004363  0.004366  0.004363  0.004369  0.004365  ...
         98185       0.004167  0.004168  0.004176  0.004172  0.004161  ...
         98200       0.004347  0.004338  0.004335  0.004329  0.004347  ...

                                                                       \
CustomerID              97697     97753     97769     97793     97900
         CustomerID
Quantity 33          0.004811  0.004669  0.004412  0.005019  0.004312
         200         0.004824  0.004681  0.004431  0.005047  0.004311
         264         0.004822  0.004674  0.004416  0.005035  0.004322
         356         0.004816  0.004671  0.004416  0.005038  0.004310
         412         0.004810  0.004702  0.004414  0.005034  0.004318
...                       ...       ...       ...       ...       ...
         97928       0.003509  0.003509  0.003300  0.003653  0.003579
         98069       0.003509  0.003509  0.003369  0.003509  0.003496
         98159       0.003509  0.003565  0.003322  0.003431  0.003322
         98185       0.003311  0.003162  0.003255  0.003406  0.003172
         98200       0.003418  0.003345  0.003381  0.003444  0.003288


CustomerID              97928     98069     98159     98185     98200
         CustomerID
Quantity 33          0.004515  0.004583  0.004355  0.004167  0.004333
         200         0.004521  0.004614  0.004367  0.004166  0.004335
         264         0.004543  0.004595  0.004365  0.004179  0.004333
         356         0.004526  0.004578  0.004365  0.004175  0.004339
         412         0.004530  0.004578  0.004367  0.004177  0.004349
...                       ...       ...       ...       ...       ...
         97928       1.000000  0.003638  0.003418  0.003255  0.003245
         98069       0.003638  1.000000  0.003469  0.003345  0.003381
         98159       0.003418  0.003469  1.000000  0.003277  0.003266
         98185       0.003255  0.003345  0.003277  1.000000  0.003288
         98200       0.003245  0.003381  0.003266  0.003288  1.000000

[1000 rows x 1000 columns]

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [45]:
step4 = pd.DataFrame(similitud.iloc[33].sort_values(ascending=False).reset_index().head(5))
step4

    level_0 CustomerID  Quantity
                            2617
0  Quantity       2617  1.000000
1  Quantity       1008  0.089301
2  Quantity       3317  0.088913
3  Quantity        264  0.088152
4  Quantity        649  0.086333

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [46]:
step5 = data[data['CustomerID'].isin(top5['CustomerID'].unique())]
step5.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
159,264,Virgil,Small,24688,270,Cheese Cloth No 100,1
201,1008,Leticia,Krueger,4468566,270,Cheese Cloth No 100,1
330,649,Lonnie,Lambert,4444323,153,Arizona - Green Tea,1
1602,3317,Chandra,Benitez,6534614,69,Raspberries - Fresh,1
1788,2617,Danny,Krause,1919260,43,Sponge Cake Mix - Chocolate,1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [53]:
step6 = step5.groupby('ProductName').agg({'Quantity':np.sum}).sort_values(by='Quantity',ascending=False).reset_index()
step6.head()

                  ProductName  Quantity
0    Mushrooms - Black, Dried         6
1      Tart Shells - Sweet, 4         4
2                Flour - Teff         4
3        Beef - Ground Medium         3
4  Potatoes - Idaho 100 Count         3

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [51]:
no_comprados = set(step6['ProductName'].unique()) - set(step5[step5['CustomerID'] == 33]['ProductName'].unique())
no_comprados

{'Appetizer - Mushroom Tart',
 'Apricots - Halves',
 'Apricots Fresh',
 'Arizona - Green Tea',
 'Bacardi Breezer - Tropical',
 'Bagel - Plain',
 'Banana - Leaves',
 'Bananas',
 'Bandage - Flexible Neon',
 'Bar - Granola Trail Mix Fruit Nut',
 'Bay Leaf',
 'Beans - Kidney White',
 'Beans - Kidney, Red Dry',
 'Beef - Chuck, Boneless',
 'Beef - Ground Medium',
 'Beef - Ground, Extra Lean, Fresh',
 'Beef - Inside Round',
 'Beef - Rib Eye Aaa',
 'Beef - Striploin Aa',
 'Beef - Tenderlion, Center Cut',
 'Beef - Texas Style Burger',
 'Beef - Top Sirloin',
 'Beer - Labatt Blue',
 'Beets - Candy Cane, Organic',
 'Beets - Mini Golden',
 'Berry Brulee',
 'Black Currants',
 'Bread - French Baquette',
 'Bread - Italian Corn Meal Poly',
 'Bread - Italian Roll With Herbs',
 'Bread - Raisin Walnut Oval',
 'Bread - Roll, Canadian Dinner',
 'Bread Fig And Almond',
 'Bread Foccacia Whole',
 'Browning Caramel Glace',
 'Butter - Unsalted',
 'Cake - Mini Cheesecake',
 'Campari',
 'Carbonated Water - Blackcherry',
 'Cassis',
 'Cheese - Bocconcini',
 'Cheese - Brie, Triple Creme',
 'Cheese - Brie,danish',
 'Cheese - Cambozola',
 'Cheese - Cheddarsliced',
 'Cheese - Cottage Cheese',
 'Cheese - Mix',
 'Cheese - Parmesan Cubes',
 'Cheese - Victor Et Berthold',
 'Cheese Cloth No 100',
 'Chef Hat 20cm',
 'Chips Potato All Dressed - 43g',
 'Chocolate - Compound Coating',
 'Chocolate - Dark',
 'Chocolate - Feathers',
 'Chocolate - Semi Sweet, Calets',
 'Clam Nectar',
 'Cocktail Napkin Blue',
 'Cocoa Butter',
 'Coffee - Dark Roast',
 'Coffee - Irish Cream',
 'Coffee Decaf Colombian',
 'Cookie Chocolate Chip With',
 'Cookies Cereal Nut',
 'Corn Meal',
 'Crab - Dungeness, Whole',
 'Crab - Imitation Flakes',
 'Crackers - Trio',
 'Creme De Banane - Marie',
 'Crush - Cream Soda',
 'Cumin - Whole',
 'Cup - Translucent 7 Oz Clear',
 'Curry Paste - Madras',
 'Dc - Frozen Momji',
 'Doilies - 5, Paper',
 'Duck - Breast',
 'Durian Fruit',
 'Ecolab - Solid Fusion',
 'Extract - Lemon',
 'Ezy Change Mophandle',
 'Fenngreek Seed',
 'Fish - Scallops, Cold Smoked',
 'Flavouring - Orange',
 'Flour - Teff',
 'Foam Cup 6 Oz',
 'Garbage Bags - Clear',
 'Garlic',
 'Gatorade - Xfactor Berry',
 'Gloves - Goldtouch Disposable',
 'Grapes - Red',
 'Grouper - Fresh',
 'Guinea Fowl',
 'Halibut - Steaks',
 'Hinge W Undercut',
 'Ice - Clear, 300 Lb For Carving',
 'Ice Cream Bar - Oreo Cone',
 'Initation Crab Meat',
 'Island Oasis - Mango Daiquiri',
 'Jagermeister',
 'Juice - V8 Splash',
 'Kellogs All Bran Bars',
 'Ketchup - Tomato',
 'Kiwi',
 'Lamb - Ground',
 'Langers - Ruby Red Grapfruit',
 'Lemonade - Natural, 591 Ml',
 'Lettuce - California Mix',
 'Lettuce - Spring Mix',
 'Lettuce - Treviso',
 'Longos - Chicken Wings',
 'Mayonnaise - Individual Pkg',
 'Milk - 2%',
 'Muffin Batt - Blueberry Passion',
 'Muffin Batt - Choc Chk',
 'Muffin Chocolate Individual Wrap',
 'Muffin Mix - Blueberry',
 'Mushroom - Trumpet, Dry',
 'Mushrooms - Black, Dried',
 'Mustard Prepared',
 'Nantucket - Pomegranate Pear',
 'Nut - Chestnuts, Whole',
 'Nut - Pistachio, Shelled',
 'Oil - Safflower',
 'Oil - Shortening,liqud, Fry',
 'Olive - Spread Tapenade',
 'Onions - Cippolini',
 'Oranges - Navel, 72',
 'Oregano - Dry, Rubbed',
 'Otomegusa Dashi Konbu',
 'Pail For Lid 1537',
 'Pasta - Cheese / Spinach Bauletti',
 'Pasta - Detalini, White, Fresh',
 'Pastry - Butterscotch Baked',
 'Pastry - Choclate Baked',
 'Pate - Cognac',
 'Pears - Bosc',
 'Peas - Pigeon, Dry',
 'Pecan Raisin - Tarts',
 'Pepper - Black, Whole',
 'Pepper - Paprika, Hungarian',
 'Pernod',
 'Phyllo Dough',
 'Placemat - Scallop, White',
 'Pomello',
 'Pop Shoppe Cream Soda',
 'Pork - Bacon, Double Smoked',
 'Pork - Belly Fresh',
 'Pork - Hock And Feet Attached',
 'Pork - Inside',
 'Pork - Loin, Bone - In',
 'Pork - Loin, Center Cut',
 'Potatoes - Idaho 100 Count',
 'Puree - Passion Fruit',
 'Quiche Assorted',
 'Raspberries - Fresh',
 'Remy Red',
 'Rice - Long Grain',
 'Rum - Mount Gay Eclipes',
 'Sage - Ground',
 'Sardines',
 'Sauce - Gravy, Au Jus, Mix',
 'Sauce - Hollandaise',
 'Sauerkraut',
 'Sausage - Breakfast',
 'Scallop - St. Jaques',
 'Scallops 60/80 Iqf',
 'Scampi Tail',
 'Shrimp - 31/40',
 'Shrimp - Baby, Warm Water',
 'Skirt - 29 Foot',
 'Smoked Paprika',
 'Snapple - Iced Tea Peach',
 'Snapple Lemon Tea',
 'Soup - Campbells Bean Medley',
 'Soup - Campbells, Beef Barley',
 'Soup - Campbells, Lentil',
 'Soup - Canadian Pea, Dry Mix',
 'Soup Knorr Chili With Beans',
 'Soupfoamcont12oz 112con',
 'Sponge Cake Mix - Chocolate',
 'Sprouts - Baby Pea Tendrils',
 'Squid U5 - Thailand',
 'Steam Pan - Half Size Deep',
 'Sugar - Fine',
 'Sun - Dried Tomatoes',
 'Sunflower Seed Raw',
 'Sword Pick Asst',
 'Table Cloth - 53x69 Colour',
 'Table Cloth 62x114 White',
 'Table Cloth 81x81 White',
 'Tart Shells - Sweet, 4',
 'Tea - Decaf Lipton',
 'Tea - Herbal Sweet Dreams',
 'Thyme - Lemon, Fresh',
 'Towels - Paper / Kraft',
 'Tray - 16in Rnd Blk',
 'Turkey - Oven Roast Breast',
 'Turkey - Whole, Fresh',
 'Veal - Brisket, Provimi,bnls',
 'Veal - Inside',
 'Veal - Inside, Choice',
 'Veal - Osso Bucco',
 'Veal - Sweetbread',
 'Vinegar - Sherry',
 'Vol Au Vents',
 'Wasabi Powder',
 'Water - Green Tea Refresher',
 'Whmis - Spray Bottle Trigger',
 'Wiberg Super Cure',
 'Wine - Blue Nun Qualitatswein',
 'Wine - Chablis 2003 Champs',
 'Wine - Chardonnay South',
 'Wine - Crozes Hermitage E.',
 'Wine - Ej Gallo Sierra Valley',
 'Wine - Fume Blanc Fetzer',
 'Wine - Gato Negro Cabernet',
 'Wine - Magnotta - Belpaese',
 'Wine - Magnotta - Cab Sauv',
 'Wine - Prosecco Valdobiaddene',
 'Wine - Redchard Merritt',
 'Wine - Sogrape Mateus Rose',
 'Wine - Two Oceans Cabernet',
 'Wine - White Cab Sauv.on',
 'Wine - Wyndham Estate Bin 777',
 'Wonton Wrappers',
 'Yoghurt Tubes',
 'Zucchini - Yellow'}

In [54]:
no_33 = step6[step6['ProductName'].isin(no_comprados)].sort_values(by='Quantity', ascending=False)
no_33.head()

                 ProductName  Quantity
0   Mushrooms - Black, Dried         6
2               Flour - Teff         4
1     Tart Shells - Sweet, 4         4
8       Lettuce - Spring Mix         3
12          Halibut - Steaks         3

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.